* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .newsfeed{
    margin: 2rem;
  }
  
  .newsfeed .all__news {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .newsfeed .news {
    max-width: 500px;
    max-height: 100vh;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  
  .newsfeed.news__image {
    border-bottom: 1px solid lightgray;
    width: 50vh;
    height: 20vh;
  }
  
  .newsfeed .head__text {
    margin-top: 30px;
    size: 15px;
  }
  
  .newsfeed .news__title {
    padding-top: 10px;
    padding-bottom: 10px;
    size: 10px;
  }
  
  .newsfeed .news__author {
    margin-right: 10px;
    color: purple;
  }
  
  .newsfeed .news__published {
    margin-right: 10px;
  }
  
  .newsfeed .news__source,
  .news__published {
    display: inline-block;
    margin-top: 10px;
    color: rgb(122, 122, 122);
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
  }

  .news__source .weblink{
    text-decoration: none;
  } 